@media (max-width: 768px) {
    .header .nav {
        display: none;
    }

    .header__burger {
        display: block;
    }

    .hero {
        height: 942px;
        flex-direction: column;
        justify-content: space-between;
    }

    .hero__desc,
    .hero__slider {
        height: 49%;
    }

    .hero__desc {
        flex: 0 0 auto;
    }

    .hero__desc::after {
        right: 18%;
    }

    .hero__content {
        width: 80%;
        padding-left: 19.9%;
    }

    .hero__slider {
        flex: 0 0 auto;
        transform: translate(0%, 0%);
        margin-left: 18%;
    }

    .product {
        padding-bottom: 58px;
    }

    .product__slider {
        margin: 0px;
    }

    .product__slider-ctrls {
        display: none;
    }

    .product__list {
        padding: 0px 17px 29px;
        justify-content: flex-start;
        overflow: auto;
    }

    .product__item {
        flex: 0 0 auto;
    }
}